.header{
    background-color: rgb(97, 77, 77);
}

.link{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-bottom: 15px;
}

body{
    background-color: rgb(243, 236, 236);

}

.imagem{
    margin-left: 35%;
    margin-right: 35%;
}

.imagem2{
    margin-left: 30%;
    margin-right: 35%;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo{
    text-align: center;
    text-align: justify;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tx{
    text-align: left;
    font-size: 40px;
    margin-left: 25%;
}

.imput{
    font-size: 40px;
}

.button{
    font-size: 40px;
    width: 40px;
}

